on late-init
    chmod 0666 /dev/gsexx
    chown secure_element secure_element /dev/gsexx
    chmod 0666 /sys/se/cos_update_state
    chmod 0666 /sys/se/strongbox_io_state

on post-fs-data
    mkdir /data/vendor/goodix 0777  secure_element secure_element
    mkdir /data/vendor/goodix/secure_element 0777  secure_element secure_element


